*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* background-image: url('vestrahorn-mountains-stokksnes-iceland.jpg'); */
    /* background-image: url('https://picsum.photos/1920/1080'); */
    background-image: url('https://source.unsplash.com/1920X1080/?galaxyz');
    background-size: cover;
    background-position:center;
    filter: blur(30px);
    z-index: -1;
}


.count{
    font-size: 50px;
    color: #fff;
}


@media (max-width:768px) {
    .bg{
        height: 100vh;
        width: 100%;
        background-image: url('https://picsum.photos/1080/1920');
    }
}
@media (max-width:320px) {
    .bg{
        height: 100vh;
        width: 100%;
        background-image: url('https://picsum.photos/1920/320');
    }
}